.epsrc-transactions {
	background-color: #FFFDFF;
	padding: 20px;
	min-height: 90vh;
	&__form {
		width: 100%;
		display: flex;
		justify-content: center;
		padding: 20px 0;

		.mat-form-field {
			width: 40%;
			min-width: 280px;
		}
	}

	&__table {
		padding-top: 10px;
	}

	&__chart {
		width: 100%;
		display: flex;
		justify-content: center;
		padding-top: 10px;
	}
}