<div class="epsrc-transactions">
	<div class="epsrc-transactions__form">
		<mat-form-field appearance="outline">
			<mat-label>Select transactions month</mat-label>
			<mat-select [formControl]="filterControl">
				<mat-option *ngFor="let item of filterControlOptions" [value]="item.value">
					{{item.viewValue}}
				</mat-option>
			</mat-select>
		</mat-form-field>
	</div>
	<mat-divider></mat-divider>
	<mat-tab-group>
		<mat-tab label="Transactions">
			<div class="epsrc-transactions__table">
				<app-table [tableData]="transactions" [tableColumns]="tableColunms"></app-table>
			</div>
		</mat-tab>
		<mat-tab label="Amount Expense Types">
			<div class="epsrc-transactions__chart1-filter">
				<p>(Simple filter) Display top expense types:</p>
				<mat-form-field appearance="outline">
					<mat-label>Element number:</mat-label>
					<input matInput type="number" [formControl]="chart1Control">
				</mat-form-field>
			</div>
			<div class="epsrc-transactions__chart">
				<ngx-charts-bar-vertical
				[view]="[1100, 400]"
				[results]="(transactions | singleChartDataTransforming : { byProperty: 'Supplier', valueProperty: 'Amount' }: chart1MaxNumber: 'descending'  )" 
				[legend]="true"
				[xAxis]="true"
				[yAxis]="true"
				[legend]="true"
				[showXAxisLabel]="true"
				[showYAxisLabel]="true"
				[yAxisLabel]="'Amount'"
				(select)="onSelect($event)"
				>
				</ngx-charts-bar-vertical>
			</div>
		</mat-tab>
		<mat-tab label="Supplier"> 
			<div class="epsrc-transactions__chart">
				<ngx-charts-line-chart
				[view]="[1100, 400]"
				[results]="(transactions | chartMultiDataTransforming : { byProperty: 'Date', valueProperty: 'Amount', singleSeriesLabel: 'Daily amount' } )" 
				[legend]="true"
				[xAxis]="true"
				[yAxis]="true"
				[legend]="true"
				[showXAxisLabel]="true"
				[showYAxisLabel]="true"
				[yAxisLabel]="'Amount'"
				>
				</ngx-charts-line-chart>
			</div>
		</mat-tab>
	</mat-tab-group>
</div>