<div class="epsrc-transactions">
	<div class="epsrc-transactions__form">
		<mat-form-field appearance="fill">
			<mat-label>Select transactions month</mat-label>
			<mat-select [formControl]="filterControl">
				<mat-option *ngFor="let item of filterControlOptions" [value]="item.value">
					{{item.viewValue}}
				</mat-option>
			</mat-select>
		</mat-form-field>
	</div>
	
	<div class="epsrc-transactions__table">
		<app-table [tableData]="transactions" [tableColumns]="tableColunms"></app-table>
	</div>
</div>