<div class="epsrc-transactions">
	<div class="epsrc-transactions__form">
		<mat-form-field appearance="outline">
			<mat-label>Select transactions month</mat-label>
			<mat-select [formControl]="filterControl">
				<mat-option *ngFor="let item of filterControlOptions" [value]="item.value">
					{{item.viewValue}}
				</mat-option>
			</mat-select>
		</mat-form-field>
	</div>
	<mat-divider></mat-divider>
	<mat-tab-group>
		<mat-tab label="Transactions">
			<div class="epsrc-transactions__table">
				<app-table [tableData]="transactions" [tableColumns]="tableColunms"></app-table>
			</div>
		</mat-tab>
		<mat-tab label="Amount top supplier">
			<div class="epsrc-transactions__chart1-filter">
				<p>Simple filter to show specific number of top Suppliers:</p>
				<mat-form-field appearance="outline">
					<mat-label>View top:</mat-label>
					<input matInput type="number" [formControl]="test">
				</mat-form-field>
			</div>
			<div class="epsrc-transactions__chart">
				<ngx-charts-pie-chart 
				[view]="[800, 400]"
				[results]="(transactions | pieChartDataMapping : { byProperty: 'Supplier', valueProperty: 'Amount' }: PieChartDataType.sum: maxNumber  )" 
				[labels]="true"  [legend]="true" [doughnut]="true">
				</ngx-charts-pie-chart>
			</div>
		</mat-tab>
		<mat-tab label="Supplier"> Content 3 </mat-tab>
	</mat-tab-group>
</div>