.epsrc-transactions {
	background-color: #FFFDFF;
	padding: 20px;

	&__form {
		width: 100%;
		display: flex;
		justify-content: center;
		padding: 20px 0;

		.mat-form-field {
			width: 40%;
			min-width: 280px;
		}
	}

	&__table {
		padding-top: 10px;
		height: 450px !important;
	}

	&__chart {
		width: 100%;
		display: flex;
		justify-content: center;
		padding-top: 10px;
	}

	&__chart1-form {
		display: flex;
		gap: 20px;
		justify-content: center;
		align-items: center;
		padding: 10px;
	}
}