:host {
    background-color: #F5F3F5;
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.page-container {
    width: 80vw;
    max-width: 1300px;
    height: 700px;
}