/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    padding: 0;
}

.mat-row {
    height: auto;
}

.mat-cell {
    padding: 10px;
}

/* scrollbar styling */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.1);
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.4);
}
