/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
}

.mat-row {
    height: auto;
}

.mat-cell {
    padding: 10px;
}

/* width */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0,0,0,0.1);
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0,0,0,0.2);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(0,0,0,0.4);
}